.controls, .stopwatch {
	margin: 100px 400px 0 600px;
}

.controls #start, .controls #stop {
	padding: 30px 60px;
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
	background-color: lightblue;
	color: #000000;
	
}

.stopwatch {
	margin: 30px 700px 0 700px;
	font-size: 50px;
	font-weight: bold;
	background-color: lightblue;
	
}